.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.slide {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;




}

.slide1 {

    opacity: 1;

}


.slider img {
    width: 100%;
    height: 100%;



}

.product-slide {
    position: absolute;
    top: 0;
    left: -100%;

    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, right 0.5s ease;


}

.product-slide.active {
    left: 0;
}

.box {
    width: 200px;
    aspect-ratio: 1;
    clip-path: polygon(99.26% 58.6%, 78.75% 90.91%, 41.4% 99.26%, 9.09% 78.75%, 0.74% 41.4%, 21.25% 9.09%, 58.6% 0.74%, 90.91% 21.25%, 99.26% 58.6%, calc(90.91% - 16.36px) calc(21.25% - -11.5px), calc(58.6% - 3.44px) calc(0.74% - -19.7px), calc(21.25% - -11.5px) calc(9.09% - -16.36px), calc(0.74% - -19.7px) calc(41.4% - -3.44px), calc(9.09% - -16.36px) calc(78.75% - 11.5px), calc(41.4% - -3.44px) calc(99.26% - 19.7px), calc(78.75% - 11.5px) calc(90.91% - 16.36px), calc(99.26% - 19.7px) calc(58.6% - 3.44px), calc(90.91% - 16.36px) calc(21.25% - -11.5px));
}
